* {
  margin: 0;
  padding: 0;
}

body {
    padding-bottom: 1000px;
}

.topbar {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding-right: 1em;
    background: linear-gradient(90deg, rgba(255,59,148,0.41) 0%, rgba(188,38,128,0.41) 100%);
}

.topbar-title {
    margin-left: 10px;
    color: #FFF0DE;
    display: inline-block;
    font-family: Poppins;
    font-weight: 600;
    font-size: 36px;
    cursor: pointer;
}

.topbar-buttons {
    display: inline-block;
    line-height: 58px;
}

.login, .register, .split {
    background: transparent;
    border: 0;
    font-family: Poppins;
    font-weight: 400;
    color: #FFF0DE;
    font-size: 24px;
}

.login:hover, .register:hover {
    cursor: pointer;
}

.title {
  display: block;
  text-align: center;
  font-family: Poppins;
  font-weight: 500;
  font-size: 96px;
  margin-top: 50px;
  margin-bottom: 50px;
}

.recipe-creator-container {
    text-align: center;
}

.recipe-creator {
    display: inline-block;
    text-align: left;
}

.activity {
    background-color: #BC2680;
    color: #FFF0DE;
    font-family: 'Poppins';
    font-size: 25px;
    border-radius: 15px;
    padding: 20px;
    margin-bottom: 40px;
}

#product {
    margin-left: 10%;
    width: 30%;
    color: #FFF0DE;
    background-color: inherit;
    font-size: 20pt;
    font-family: 'Poppins';
    border: 0;
    box-shadow: 0;
    border-bottom: 2px #FFF0DE solid;
}

#quantity {
    margin-left: 5%;
    margin-right: 5%;
    width: 30%;
    color: #FFF0DE;
    background-color: inherit;
    font-size: 20pt;
    font-family: 'Poppins';
    border: 0;
    box-shadow: 0;
    border-bottom: 2px #FFF0DE solid;
}

::placeholder {
    text-align: center;
    font-family: 'Poppins';
    color: #FFF0DE;
    opacity: 50%;
}

#units {
    background-color: #FFF0DE;
    border: 0;
    font-size: 20pt;
    font-family: 'Poppins';
    border-radius: 15px;
    padding: 5px;
    padding-left: 15px;
}

.icons-row {
    display: flex;
    justify-content: space-between;
    height: 100%;
}

.icon-wrapper {
    margin: 10px 5px 10px 5px;
    background-color: pink;
    display: flex;
    justify-content: center;
    cursor: pointer;
    padding-top: 30px;
    padding-bottom: 30px;
    border-radius: 40%;
    width: 16%;
}

.icon {
    width: 50%;
}

.button-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

#cancel {
    margin-top: 30px;
    display: inline-block;
    width: 30%;
    height: 40px;
    background-color: #FFF0DE;
    color: #F589B0;
    border: 0;
    border-radius: 7px;
    text-align: center;
    font-family: Poppins;
    font-size: 1.2rem;
    cursor: pointer;
}

#ready {
    margin-top: 30px;
    display: inline-block;
    width: 30%;
    height: 40px;
    background-color: #F589B0;
    color: #FFF0DE;
    border: 0;
    border-radius: 7px;
    text-align: center;
    font-family: Poppins;
    font-size: 1.2rem;
    cursor: pointer;
}