* {
  margin: 0;
  padding: 0;
}

body {
    padding-bottom: 1000px;
}

.topbar {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding-right: 1em;
    background: linear-gradient(90deg, rgba(255,59,148,0.41) 0%, rgba(188,38,128,0.41) 100%);
}

.topbar-title {
    margin-left: 10px;
    color: #FFF0DE;
    display: inline-block;
    font-family: Poppins;
    font-weight: 600;
    font-size: 36px;
    cursor: pointer;
}

.topbar-buttons {
    display: inline-block;
    line-height: 58px;
}

.login, .register, .split {
    background: transparent;
    border: 0;
    font-family: Poppins;
    font-weight: 400;
    color: #FFF0DE;
    font-size: 24px;
}

.login:hover, .register:hover {
    cursor: pointer;
}

.title {
  display: block;
  text-align: center;
  font-family: Poppins;
  font-weight: 500;
  font-size: 96px;
  margin-top: 50px;
  margin-bottom: 50px;
}


.title {
    display: block;
    text-align: center;
    font-family: 'Inter';
    font-weight: 500;
    font-size: 40pt;
    margin-top: 70px;
    margin-bottom: 50px;
}

#action-img {
    width: 400px;
}

.loading-bar-wrapper {
    position: block;
    text-align: center;
    width: 40%;
    margin: auto;
}

.loading-bar {
    position:relative;
    font-family: 'Inter';
    text-align: center;
    width: 40%;
    border: 2px solid #F589B0;
    background-color: #FFFFFF;
    margin: auto;
    border-radius: 20px;
    overflow: hidden;
}

.loading-bar > span {
    position: relative;
    display: block;
    line-height: 40px;
    height: 100%;
    background-color: #F589B0;
}

.loading-bar > div {
    position: absolute;
    color: black;
    font-size: 20px;
    width: 100%;
    top: 8px;
}
